/**
 * @name Small
 * @author Etho
 * @version 1
 * @description smol :)
 */

/* From DevilBro's BasicBackground Theme (ICONS)*/
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);

:root {
    --main-color: linear-gradient(45deg, rgb(0, 200, 255),rgb(0, 182, 245), rgb(0, 90, 244));

    --channel-unread: rgb(0, 200, 255);
	--channel-normal:  rgba(255,255,255,0.4);
	--channel-selected: rgb(255, 255, 255); 
	--channel-muted: rgba(255,255,255,0.1);

    --left-sidebar-width: 220px;
    --left-sidebar-selected: rgb(255, 255, 255);

    --right-sidebar-width: 220px;

    --window-spacing: 20px;
    --window-border-radius: 8px;

    --popup-width: 800px;

    --background: rgba(0, 0, 0, 0.45);

    --friends-list-font-color: rgba(255, 255, 255, 1);
    --friends-list-background: rgba(0, 0, 0, 0);
    --friends-list-selected: var(--main-color);
    --friends-list-selected-radius: 8px;

    --server-sidebar-user-background: rgba(8, 8, 8, 0.85);
    --server-sidebar-user-radius: 8px;
}

body, .appMount-3lHmkl, .app-1q1i1E, .app-2rEoOp, .bg-h5JY_x {
    background: transparent;
    background-color: transparent;
    color: transparent;
}

.content-3QAtGj {
    color: var(--friends-list-font-color);
}

.platform-win .winButtonClose-1HsbF- {
    border-top-right-radius: var(--TB-tr-roundness);
}

.platform-win .winButton-iRh8-Z {
    top: calc(var(--TB-position-top) + 20px);
    right: var(--TB-position-right, var(--window-spacing));
    height: var(--TB-width, 48px);
    width: var(--TB-width, 40px);
}

.platform-win .winButton-iRh8-Z:not(.winButtonClose-1HsbF-):hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.platform-win .winButton-iRh8-Z.winButtonClose-1HsbF- {
    border-radius: 0px var(--window-border-radius) 0px 0px;
}

.platform-win .container-1r6BKw {
    padding-right: var(--TB-header-padding, 124px);
}

.platform-win .wordmarkWindows-1v0lYD {
    display: none;
}

.platform-win #app-mount.bd-detached-editor .winButton-iRh8-Z {
    right: 30%;
}

.winButtonClose-1HsbF-:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.wrapper-3NnKdC, .tree-2wKJdG, .none-2Eo-qx {
    background-color: transparent;
    color: transparent;
    background: transparent;
}

.typeWindows-1za-n7 {
    height: 0px;
    margin: 0px;
    margin-top: var(--window-spacing);
}

.base-3dtUhz {
    border-radius: var(--window-border-radius);
    margin-bottom: var(--window-spacing);
    margin-right: var(--window-spacing);
    margin-left: var(--window-spacing);
}

.sidebar-2K8pFh {
    width: var(--left-sidebar-width);
    background-color: transparent;
}

.layout-2DM8Md {
    width: calc(var(--left-sidebar-width) - 16px);
    border-radius: 0px;
}

[data-list-id="guildsnav"], .tree-2wKJdG {
    outline: none;
}

.membersGroup-v9BXpm.container-2ax-kl {
    padding: 12px;
}

.membersWrap-2h-GB4 {
    right: 2px;
}

.container-2wlB3z {
    background: transparent;
    background-color: transparent;
    color: transparent;
}

.member-3-YXUe {
    margin-bottom: 2px;
}

.guilds-1SWlCJ {
    left: calc(var(--window-spacing)/2);
}

.root-3QyAh1 {
    width: var(--popup-width);
}

.profileBanner-33-uE1, .profileBannerPremium-35utuo {
    width: var(--popup-width);
}

/* NITRO */

[href="/store"], [aria-label="Send a gift"] {
    display: none;
}

/* */

/* MESSAGES */

.replying-1x3H0T::before {
    background: var(--main-color);
}

.focused-3afm-j {
    background: var(--main-color);
}

.mediaBarProgress-1xaPtl, .mediaBarGrabber-1FqnbN, .mediaBarProgress-1xaPtl::before, .mediaBarProgress-1xaPtl::after {
    background: rgb(0, 200, 255);
}

.bubble-3qRl2J {
    background: rgb(0, 225, 255);
}

.message-2qnXI6.groupStart-23k01U {
    border-radius: 0px 6px 0px 0px;
}

.wrapper-2aW0bm {
    border-radius: 24px;
}

.wrapper-2a6GCs:not(.mentioned-xhSam7) {
    background: linear-gradient(90deg, rgb(0, 200, 255) 3px,rgb(0, 182, 245) 3px, rgb(0, 90, 244) 3px, rgba(0, 0, 0, 0.3) 0%);
}

.wrapper-2a6GCs.mentioned-xhSam7 {
    border-radius: 0px 6px 6px 0px;
}

.wrapper-2a6GCs.mentioned-xhSam7::before {
    width: 3px;
}

.message-2qnXI6.selected-2P5D_Z:not(.mentioned-xhSam7),
.mouse-mode.full-motion .message-2qnXI6:hover:not(.mentioned-xhSam7) {
    background-color: rgba(0, 0, 0, 0.4); 
}
  
.cozy-3raOZG.wrapper-2a6GCs,
.compact-T3H92H.wrapper-2a6GCs {
    margin-left: 64px;
    margin-right: 24px;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 14px !important;
}
  
.avatar-1BDn8e {
    left: -52px; 
    border-radius: 4px;
}

.cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
    left: -75px;
    top: 8px;
}
  
.compact-T3H92H .timestamp-3ZCmNB,
.cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
    color: rgb(255, 255, 255); 
}
  
.repliedMessage-VokQwo:before {
    transform: translateX(-11px); 
    width: 34px;
}

.message-2qnXI6::after {
    margin-left: -69px;
    margin-top: 6px;
    margin-bottom: 7px;
}

.embedWrapper-lXpS3L {
    border-radius: 0px;
}

.wrapper-129saQ {
    border-radius: 4px;
}

.icon-3ZFEtL {
    margin-left: 4px;
    margin-right: 4px;
}

.channelTextArea-rNsIhG {
    margin: 0px;
    height: 0px;
    bottom: 64px;
}

.attachedBars-tZDmyV {
    height: 0;
    transform: translateY(-52px); 
    margin-right: 24px;
    margin-left: 24px;
}

.replyBar-1YLQ2F {
    border-radius: 8px;
}

.scrollableContainer-2NUZem.webkit-HjD9Er {
    bottom: 12px;

    position: relative; 

    border-radius: 8px;

    margin-right: 24px;
    margin-left: 24px;
}

.scrollerSpacer-avRLaA {
    margin-bottom: 88px;
}

.autocomplete-1vrmpx {
    margin-bottom: 64px;
    margin-right: 24px;
    margin-left: 24px;
}

.drawerSizingWrapper-17Mss4 {
    bottom: 64px;
    margin-right: 24px;
}

.typing-2GQL18 {
    margin-bottom: 4px;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 4px;

    background: #40444B;
}

.channelTextAreaUpload-3t7EIx {
    margin-left: -24px;
    margin-top: 24px;
    
    width: 525px;
}

.jumpToPresentBar-G1R9s6 {
    bottom: 106px;
    
    margin-left: 24px;
    margin-right: 24px;

    border-radius: 4px;
    height: 24px;
    padding: 0px;
}

.channelTextArea-3bF57p {
    margin-left: -24px;
    width: 1740px;
}

.operations-36ENbA {
    margin-top: 4px;
    margin-left: 2px;
}

.barBase-1c2Rfb {
    margin-left: 24px;
    margin-right: 24px;
}

/* */

/* Server banners */

.bannerImage-3KhIJ6 {
    background-size: 100% 100%;
    width: var(--left-sidebar-width);
}

.bannerVisible-2ZE_qG {
    margin-bottom: 50px;
}

.container-1taM1r {
    margin-top: 50px;
}

.header-2V-4Sw {
    margin-top: -50px;
}

/* */

/* Server sidebar */

.containerDefault-3tr_sE {
    margin-left: 2px;
}

.unread-2lAfLh {
    display: none;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
  .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: rgb(20, 20, 20); 
}

.wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
    color: var(--channel-unread);
    text-shadow: 0 0 3px;
}
.wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz {
    color: var(--channel-unread);
    filter: drop-shadow(0 0 3px);
    opacity: 1;
}

.content-1x5b-n .icon-1DeIlz {
    width: 18px;
    height: 18px;
    margin-right: 3px;
    color: var(--channel-normal);
    opacity: 1;
    transition: all 0.15s ease-in-out;
}

.content-1x5b-n .name-23GUGE {
    color: var(--channel-normal);
    transition: all 0.15s ease-in-out;
}

.wrapper-2jXpOf.modeLocked-25wLHj .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz,
.wrapper-2jXpOf.modeLocked-25wLHj .content-1x5b-n .mainContent-u_9PKf .channelName-2YrOjO,
.wrapper-2jXpOf.modeMuted-onO3r- .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz,
.wrapper-2jXpOf.modeMuted-onO3r- .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
  color: var(--channel-muted);
}

.wrapper-2jXpOf.modeUnread-1qO3K1:hover .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
    color: var(--channel-selected);
}
.wrapper-2jXpOf.modeUnread-1qO3K1:hover .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz {
    color: var(--channel-selected);
}

.containerDefault--pIXnN .wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n .icon-1DeIlz,
.containerDefault--pIXnN .wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n .name-23GUGE {
  color: var(--channel-selected);
}
.containerDefault--pIXnN .wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n .iconLive-AtZKgD {
  color: var(--channel-selected) !important;
}

.membersWrap-2h-GB4 {
    width: var(--right-sidebar-width);
}

.members-1998pB {
    width: 100%;
    left: 2px;
    background: transparent;
}

.container-3w7J-x {
    background: transparent;
}

.content-3YMskv {
    background: transparent !important;
}

.member-3-YXUe {
    background: var(--server-sidebar-user-background) !important;
    border-radius: var(--server-sidebar-user-radius);
}

.header-2V-4Sw {
    box-shadow: none;
}

/* */


/* Friends siderbar */

.channel-2QD9_O {
    margin: 0px;
}

.headerText-2F0828 {
    margin-left: -8px;
}

.privateChannelRecipientsInviteButtonIcon-3A3uTc {
    margin-left: 8px;
}

.scroller-1JbKMe::-webkit-scrollbar {
    display: none;
}

.scroller-1JbKMe > .content-3YMskv > div {
    margin-top: -8px;
}

.searchBar-6Kv8R2 {
    box-shadow: none;
}

.privateChannels-1nO12o, .scroller-1JbKMe, .panels-j1Uci_ {
    background: transparent;
}

.sidebar-2K8pFh {
    background: var(--background);
}

.layout-2DM8Md {
    background-color: transparent !important;
}

.channel-2QD9_O:not([id="private-channels-0"]) {
    background-color: var(--friends-list-background);
    border-radius: 0px;
}

.channel-2QD9_O:not([id="private-channels-0"]).selected-aXhQR6 {
    background: var(--friends-list-selected);
    border-radius: var(--friends-list-selected-radius);
}

.container-1D34oG {
    background-color: var(--background) !important;
}

.nowPlayingColumn-2sl4cE, .container-lRFx4q {
    background: transparent;
}

[data-list-item-id="private-channels-uid_3329___snowsgiving"] {
    display: none;
}

/* */


/* Settings left sidebar */

.sidebarRegionScroller-3MXcoP, .sidebarRegion-VFTUkN, .standardSidebarView-3F1I7i, .layer-3QrUeG {
    background: transparent;
    background-color: transparent;
    color: transparent;
}

.sidebarRegion-VFTUkN {
    margin-bottom: var(--window-spacing);
}

.sidebarRegionScroller-3MXcoP::-webkit-scrollbar {
    background-color: #36393F;
}

.sidebar-CFHs9e {
    padding: 0px;
    margin-right: 100px;
}

.side-8zPYf6:not(.searchHeaderTabList-2aPqS1) {
    border-radius: 8px 0px 0px 8px;
    background-color: #36393F;
    width: 350px;
    min-height: 1115px;
}

.header-2RyJ0Y {
    margin-top: 8px;
}

/* */

/* Settings right sidebar */

.contentRegion-3nDuYy, .contentTransitionWrap-3hqOEW, .contentRegionScroller-26nc1e {
    background: transparent;
    background-color: transparent;
    color: transparent;
}

.contentRegion-3nDuYy {
    margin-bottom: var(--window-spacing);
}

.contentColumn-2hrIYH {
    background-color: #36393F;
    border-radius: 0px 8px 8px 0px;

    max-width: 779px;
}

.toolsContainer-1edPuj {
    padding: 0px;
    padding-top: 16px;
    right: 64px;
}

/* */


/* Pop up window */

.connectedAccount-2Jb-Z0 {
    width: 45%;
}

/* */


/* Chat */

.chat-3bRxxu {
    background-color: var(--background);
}

.title-3qD0b-, .container-1r6BKw, .themed-ANHk51 {
    background-color: transparent !important;
}

.content-yTz4x3::before {
    box-shadow: none;
}

.children-19S4PO::after {
    display: none;
}

/* */

/* CALL */

.wrapper-2qzCYF, .callContainer-36WRfH {
    background: transparent;
}

.gradientTop-3UWg3T, .gradientBottom-3X4SdK {
    display: none;
}

/* */


/* Discover */

.pageWrapper-1PgVDX {
    background-color: var(--background) !important;
}

.scroller-3Vjo4T {
    background-color: var(--background) !important;
}
/* */
