/**
 * @name Cool
 * @author Etho
 * @version 1
 * @description Theme :)
 */

:root {

    --main-color: linear-gradient(45deg, rgb(0, 200, 255),rgb(0, 182, 245), rgb(0, 90, 244));
    --main-font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;

    --channel-unread: rgb(0, 200, 255);
	--channel-normal:  rgba(255,255,255,0.4);
	--channel-selected: rgb(255, 255, 255); 
	--channel-muted: rgba(255,255,255,0.1);

    --left-sidebar-width: 325px;
    --left-sidebar-dms-box: 290px;
    --left-sidebar-selected: rgb(255, 255, 255);

	--home-icon: url(https://clearvision.gitlab.io/icons/discord.svg);
	--home-position: center;
	--home-size: 30px;

    --app-bg: url(https://cdn.discordapp.com/attachments/513928038774472706/791736735989497896/unknown.png);
}

/* APP */
.platform-win .sidebar-2K8pFh {
    border-radius: 0px;
}

body {
    background-color: transparent; 
}
  
.appMount-3lHmkl {
    background-image: var(--app-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.app-2rEoOp,
.bg-h5JY_x {
    background-color: transparent; 
}
  
.appMount-3lHmkl svg {
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5)); 
}

.base-3dtUhz {
    /* margin: 16px;
    margin-top: 0px; */
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 12px;
}
  
/* APP ELEMENTS -> TOP BAR */
.titleBar-AC4pGV {
    height: 24px; 
}
  
.wordmarkWindows-1v0lYD {
    color: transparent;
    color: #fff; 
}
  
.withFrame-haYltI {
    margin-top: 0; 
}
  
.winButton-iRh8-Z {
    height: 100%;
    color: #fff; 
    margin-top: 4px;
}

/* Font */
::-moz-placeholder {
    font-family: var(--main-font);
}
  
:-ms-input-placeholder {
    font-family: var(--main-font);
}

body,
button,
input,
select,
textarea,
::placeholder {
    font-family: var(--main-font);
}

/* Sidebar */

.item-2hkk8m {
    background-color: var(--left-sidebar-selected);
}

[aria-label="Servers sidebar"], #guildsnav, .scroller-1Bvpku {
    color: transparent;
    background-color: transparent;
}

.expandedFolderBackground-1cujaW {
    opacity: 0.6;
}

.guildSeparator-33mFX6 {
    background-color: rgba(32, 32, 32, 0.8);
}

.homeIcon-FuNwkv {
    width: 100%;
    height: 100%;
    background: var(--home-icon) var(--home-position)/var(--home-size) no-repeat;
}

.homeIcon-FuNwkv > path {
    display: none;
}

.sidebar-2K8pFh {
    width: var(--left-sidebar-width);
    background-color: rgb(0, 0, 0, 0);
}

.privateChannels-1nO12o .channel-2QD9_O .layout-2DM8Md {
    position: relative;
    z-index: 1;
}

.privateChannels-1nO12o .channel-2QD9_O .layout-2DM8Md:after {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    opacity: 0.9;

    transition: all 0.3s ease-in-out;
    
    z-index: -1;
    pointer-events: none;
    border-radius: 24px 0px 0px 24px;
}

.layout-2DM8Md {
    width: var(--left-sidebar-dms-box);
    border-radius: 24px 0px 0px 24px;
}

.privateChannels-1nO12o .channel-2QD9_O.selected-aXhQR6 .layout-2DM8Md:after {
    right: 0;
    background: var(--main-color);
    
    -webkit-animation: cv-channel-select 0.3s ease-in-out;
            animation: cv-channel-select 0.3s ease-in-out;
}


.avatar-3uk_u9, .content-3QAtGj {
    margin-left: -3px;
}

.headerText-2F0828 {
    margin-left: -6px;
}

.privateChannelRecipientsInviteButtonIcon-3A3uTc {
    margin-left: 8px;
}

#private-channels-1, #private-channels-2, [mask="url(#7c2cbf3c-117f-4f6e-9c03-41a39e1528af)"], [aria-label="Send a gift"] {
    display: none;
}

/* Server sidebar */
.containerDefault-3tr_sE {
    margin-left: 2px;
}

.unread-2lAfLh {
    display: none;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
  .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: rgb(20, 20, 20); 
}

.wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
    color: var(--channel-unread);
    text-shadow: 0 0 3px;
}
.wrapper-2jXpOf.modeUnread-1qO3K1 .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz {
    color: var(--channel-unread);
    filter: drop-shadow(0 0 3px);
    opacity: 1;
}

.content-1x5b-n .icon-1DeIlz {
    width: 18px;
    height: 18px;
    margin-right: 3px;
    color: var(--channel-normal);
    opacity: 1;
    transition: all 0.15s ease-in-out;
}

.content-1x5b-n .name-23GUGE {
    color: var(--channel-normal);
    transition: all 0.15s ease-in-out;
}

.wrapper-2jXpOf.modeLocked-25wLHj .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz,
.wrapper-2jXpOf.modeLocked-25wLHj .content-1x5b-n .mainContent-u_9PKf .channelName-2YrOjO,
.wrapper-2jXpOf.modeMuted-onO3r- .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz,
.wrapper-2jXpOf.modeMuted-onO3r- .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
  color: var(--channel-muted);
}

.wrapper-2jXpOf.modeUnread-1qO3K1:hover .content-1x5b-n .mainContent-u_9PKf .name-23GUGE {
    color: var(--channel-selected);
}
.wrapper-2jXpOf.modeUnread-1qO3K1:hover .content-1x5b-n .mainContent-u_9PKf .icon-1DeIlz {
    color: var(--channel-selected);
}

.containerDefault--pIXnN .wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n .icon-1DeIlz,
.containerDefault--pIXnN .wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n .name-23GUGE {
  color: var(--channel-selected);
}
.containerDefault--pIXnN .wrapper-2jXpOf.modeSelected-346R90 .content-1x5b-n .iconLive-AtZKgD {
  color: var(--channel-selected) !important;
}

/* Server banners */
.bannerImage-3KhIJ6 {
    background-size: 100% 100%;
    width: var(--left-sidebar-width);
}

.bannerVisible-2ZE_qG {
    margin-bottom: 50px;
}

.container-1taM1r {
    margin-top: 50px;
}

.header-2V-4Sw {
    margin-top: -50px;
}

/* GIF */
.contentWrapper-SvZHNd {
    border-radius: 4px;
}

/* ACCOUNT */
.premiumTabItem-1QTfBr, [aria-controls="Nitro Server Boost-tab"], [aria-controls="Billing-tab"] {
    display: none;
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e .item-PXvHYJ {
    padding-left: 50px !important;
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e .item-PXvHYJ:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    left: 15px;
    margin-top: -2px;
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="My Account-tab"].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/person.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="Profile Customization-tab"].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/person.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="Privacy & Safety-tab"].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/security.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="Authorized Apps-tab"].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/apps.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Connections-tab].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/link.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="Discord Nitro-tab"].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/nitro.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="Nitro Server Boost-tab"].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/server_boost.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="Library Inventory-tab"].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/gift.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Billing-tab].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/payment.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Appearance-tab].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/camera.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Accessibility-tab].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/payment.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="Voice & Video-tab"].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/mic.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="Text & Images-tab"].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/chat.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Notifications-tab].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/notifications.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Keybinds-tab].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/keyboard.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Language-tab].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/language.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Windows-tab].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/windows.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Linux-tab].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/linux.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="Streamer Mode-tab"].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/videocam.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Advanced-tab].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/bug.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="Game Activity-tab"].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/games.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Overlay-tab].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/aspect_ratio.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=changelog-tab].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/history.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls="Hypesquad Online-tab"].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/hypesquad.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=logout-tab].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/exit.svg);
}
  
[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Settings-tab].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/betterdiscord.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=Emotes-tab].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/emote.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=customcss-tab].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/code_braces.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=plugins-tab].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/puzzle.svg);
}

[aria-label=USER_SETTINGS] .sidebar-CFHs9e [aria-controls=themes-tab].item-PXvHYJ:before {
    background-image: url(https://clearvision.gitlab.io/icons/palette.svg);
}

/* Messages */

.replying-1x3H0T::before {
    background: var(--main-color);
}

.focused-3afm-j {
    background: var(--main-color);
}

.mediaBarProgress-1xaPtl, .mediaBarGrabber-1FqnbN, .mediaBarProgress-1xaPtl::before, .mediaBarProgress-1xaPtl::after {
    background: rgb(0, 200, 255);
}

.bubble-3qRl2J {
    background: rgb(0, 225, 255);
}


/* .message-2qnXI6:not(.groupStart-23k01U),
.message-2qnXI6.compact-T3H92H {
    border-radius: 0px 0px 6px 6px;
}

.message-2qnXI6.groupStart-23k01U,
.message-2qnXI6.compact-T3H92H {
    border-radius: 6px 6px 0px 0px;
} */

.buttons-cl5qTG.container-3npvBV {
    top: 8px;
}

.message-2qnXI6.groupStart-23k01U
.message-2qnXI6.compact-T3H92H {
    border-radius: 6px;
}

.wrapper-2a6GCs {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 6px; 
}
  
.cozy-3raOZG.wrapper-2a6GCs,
.compact-T3H92H.wrapper-2a6GCs {
    margin-left: 64px;
    margin-right: 24px;
    padding-top: 6px !important;
    padding-left: 8px !important;
    padding-bottom: 6px !important;
}
  
.avatar-1BDn8e {
    top: 0;
    left: -52px; 
    border-radius: 4px;
}
  
.message-2qnXI6.selected-2P5D_Z,
.mouse-mode.full-motion .message-2qnXI6:hover {
    background-color: rgba(0, 0, 0, 0.4); 
}

.cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
    left: -75px;
    top: 8px;
}
  
.compact-T3H92H .timestamp-3ZCmNB,
.cozy-3raOZG .timestamp-3ZCmNB.alt-1uNpEt {
    color: rgb(255, 255, 255); 
}

.container-2fRDfG {
    background-color: transparent;
    border-radius: var(--textarea-radius) var(--textarea-radius) 0 0;
    border-bottom: 1px solid var(--background-modifier-accent); 
}
  
.repliedMessage-VokQwo:before {
    transform: translateX(42px); 
}
  
.replyAvatar-1K9Wmr,
.repliedMessage-VokQwo > .replyBadge-r1su3o {
    margin-left: 42px; 
}
  
.compact-T3H92H .repliedMessage-VokQwo > .replyBadge-r1su3o {
    margin-left: 0; 
}
  
.ephemeral-1PsL1r,
.replying-1x3H0T,
.backgroundFlash-24qWLN[style*="background-color: rgba(114, 137, 218, 0.2)"] .wrapper-2a6GCs {
    border-color: var(--mention-alt) !important;
    box-shadow: inset 0px 0px 6px 1px var(--mention-alt), 0px 0px 9px 2px var(--mention-alt); 
}

.ephemeral-1PsL1r:before,
.replying-1x3H0T:before,
.backgroundFlash-24qWLN[style*="background-color: rgba(114, 137, 218, 0.2)"] .wrapper-2a6GCs:before {
      display: none; 
}
  
.ephemeralMessage-1fEWtQ a {
    color: var(--mention-alt); 
}